<!doctype html>
<html lang="en">
    <head>
        <title>{{ title }}</title>
        
        <meta charset="UTF-8">
        <link rel="icon" href="static/favicon.ico" type="image/x-icon" />
        <meta name="description" content="`borgweb` is a web frontend for the `borgbackup` software.">
        <meta name="author" content="https://github.com/borgbackup/borgweb/blob/master/AUTHORS">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link href="static/bootstrap/bootstrap.min.css" rel="stylesheet">
        <link href="static/bootstrap/bootstrap-theme.min.css" rel="stylesheet">
        <link href="static/style.css" rel="stylesheet">
    </head>
    <body>
        <div class="container">
        
            {% include '_nav.html' %}
            
            {% block content %}{% endblock %}
        
        </div><!-- /container -->
    </body>
</html>

