<!doctype html>
<html lang="en">
    <head>
        <title>BorgWeb</title>

        <meta charset="UTF-8">
        <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon" />
        <meta name="description" content="`borgweb` is a web frontend for the `borgbackup` software.">
        <meta name="author" content="https://github.com/borgbackup/borgweb/blob/master/AUTHORS">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link href="{{ url_for('static', filename='bootstrap/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='bootstrap/bootstrap-theme.min.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
        <style>
            #list-view {
                background-image: url({{ url_for('static',
                    filename='file-list-shadow.png') }});
            }
        </style>
    </head>
    <body>

      <div id="wrapper" class="toggled">
            {% include '_nav.html' %}

            {% block content %}{% endblock %}
      </div>

    </body>
</html>
