        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">BorgWeb</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <!-- dummy:
                        <li>
                            <a href="/status/"><i class="fa fa-list fa-fw"></i> Status</a>
                        </li>
                        -->
                        
                        <li>
                            <a href="https://borgweb.github.io/"><i class="fa fa-eye fa-fw"></i><span class="glyphicon glyphicon-play" aria-hidden="true"></span> Start Backup</a>
                        </li>
                        <li>
                            <a href="https://borgweb.github.io/"
                               class="navbar-link" title="Open docs in new window" target="_blank"><i class="fa fa-eye fa-fw"></i><span class="glyphicon glyphicon-text-background" aria-hidden="true"></span> Documentation</a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav pull-right">
                        <!-- dummy -->
                    </ul>
                </div>
            </div>
        </div>
