    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
          <li class="sidebar-brand">
                <a href="#">
                    <span class="borg-green">Borg</span>Web
                </a>
            </li>
            <li>
              <a href="#"
                 onclick="window.viewBackups()">
                 <span class="glyphicon glyphicon-tasks" aria-hidden="true"></span>
                 Backups
               </a>
            </li>
            <li>
              <a href="#"
                 onclick="window.viewRepositories()">
                 <span class="glyphicon glyphicon-hdd" aria-hidden="true"></span>
                 Repositories
               </a>
            </li>
            <li>
                <a href="https://borgweb.readthedocs.io/"
                   class="navbar-link i18n"
                   title="Open docs in new window"
                   target="_blank">
                   <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
                   <x-i18n>Documentation</x-i18n>
                 </a>
            </li>
            <li>
                <a href="https://github.com/borgbackup/borgweb"
                   class="navbar-link i18n"
                   title="See source code on Github"
                   target="_blank">
                   <span class="glyphicon glyphicon-wrench"></span>
                   Github
                 </a>
            </li>
        </ul>
    </div>
    <!-- /#sidebar-wrapper -->
