{% extends "_layout.html" %}

{% block content %}
    <div class="row">
        <div class="col-sm-3">
            <h2 style="margin-top: 0; font-size: 20px; padding-left: 15px;
                border-bottom: 1px solid #ccc;">Log files</h2>
            <ul id="log-files" class="nav nav-pills nav-stacked">
                <li><a href="#">loading...</a></li>
            </ul>
        </div>
        <div class="col-sm-9">
            <h2 id="log-path" style="margin-top: 0; font-size: 20px; padding-left: 9px;
                border-bottom: 1px solid #ccc;">&nbsp;</h2>
            <pre id="log-text">Data missing.</pre><!-- /log-text -->
        </div><!-- /col-md-8 -->
    </div><!-- /row -->
    <script src="/static/bundle.js"></script>
{% endblock %}

