{% extends "_layout.html" %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="jumbotron">
                    <h1>
                        BorgWeb
                        <span class="label label-warning" style="vertical-align: top; font-size: 14px;">beta</span>
                    </h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <h2>Log files</h2>
                <ul id="log-files" class="nav nav-pills nav-stacked">
                    <li><a href="#">loading...</a></li>
                </ul>
            </div>
            <div class="col-md-8">
                <pre id="log-text">Data missing.</pre><!-- /log-text -->
            </div><!-- /col-md-8 -->
        </div><!-- /row -->
    </div><!-- /container -->

    <script src="/static/index.js"></script>
{% endblock %}

