{% extends "_layout.html" %}

{% block content %}
	<div class="row">
		<!-- log file selector, log file path, log status -->
		<div class="col-sm-3">
			&nbsp;
		</div><!-- /col-sm-3 -->
    <div class="col-sm-9">
			<p id="log-path"></p>
    </div><!-- /col-sm-9 -->
	</div><!-- /row -->

	<div class="row" id="content-row">
	<!-- log file list, log text -->
	<div class="col-sm-3" id="list-viewer">
		<ul id="repo-list" class="nav nav-pills nav-stacked"></ul>
	</div><!-- /col-sm-3 -->
	<div class="col-sm-3" id="list-viewer">
		<ul id="log-files" class="nav nav-pills nav-stacked"></ul>
	</div><!-- /col-sm-3 -->
    <div class="col-sm-6" id="log-viewer">
      <div id="no-logs-error" class="jumbotron error">
        <h1>
          <x-i18n>No logs found</x-i18n>
        </h1>
        <hr>
        <a href="https://borgweb.readthedocs.io/"><span class="label label-default"><x-i18n>Documentation</x-i18n></span></a>
        <a href="https://webchat.freenode.net/?channels=%23borgbackup"><span class="label label-default"><x-i18n>IRC Channel</x-i18n></span></a>
        <a href="mailto:borgbackup@python.org"><span class="label label-default"><x-i18n>Mailinglist</x-i18n></span></a>
        <a href="https://github.com/borgbackup/borgweb/issues"><span class="label label-default"><x-i18n>Mailinglist</x-i18n></span></a>
      </div>
      <pre id="log-text"></pre>
    </div><!-- /col-sm-9 -->
	</div><!-- /row -->

	<div class="row" id="pagination-row">
		<!-- pagination buttons -->
		<div class="col-sm-6">
		</div><!-- /col-sm-3 -->
    <div class="col-sm-6">
      <ul class="pagination">
        <li>
          <a href="#" aria-label="Previous" onClick="window.previousPage()">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li><a href="#" aria-label="Beginning of file" id="nextPage"
					onClick="window.firstPage()"><x-i18n>Beginning…</x-i18n></a></li>
        <li><a href="#" aria-label="End of file" id="previousPage"
					onClick="window.lastPage()"><x-i18n>End of file</x-i18n></a></li>
        <li>
          <a href="#" aria-label="Next" onClick="window.nextPage()">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </div><!-- /col-sm-9 -->
	</div><!-- /row -->

  <script src="{{ url_for('static', filename='bundle.js') }}"></script>
{% endblock %}
