html { height: 100%; }
body {
  padding-top: 66px;
}
.pagination a {
  color: #3c8b3c !important;
}

#log-files {
  font-size: 18px;
}
#log-text {
  height: 100%;
  white-space: pre-wrap;
  line-height: 18px;
}
#log-files li a {
  color: #3c8b3c;
}
#log-path {
  margin-top: 0;
  font-size: 20px !important;
  padding-left: 9px;
  padding-bottom: 2px;
  border-bottom: 1px solid #ccc;
  border-style: hidden;
}
#log-path input {
  width:calc(100% - 46px); 
  display: inline-block;
  font-size: 18px;
}
.btn-success:hover,
.btn-warning:hover,
.btn-success:focus,
.btn-warning:focus {
  height: 40px;
  margin-left: 8px;
  margin-top: 5px;
  padding: 1px 12px 2px 14px;
  color: white;
  text-decoration: none;
  background-position: 0 2px;
  background-repeat: repeat;
  background-color: #419641;
}
.btn-success:hover {
  background-image: -webkit-gradient(linear,left top,left bottom,from(#419641),to(#5cb85c));
}
.btn-warning:hover {
  background-image: -webkit-gradient(linear,left top,left bottom,from(#f0ad4e),to(#eb9316));
}
#log-files li:last-child {
  margin-bottom: 12px;
}
#log-viewer {
  height: calc(95vh - 160px) !important;
}
